@import "./variables.css";

/* GENERAL */
.modal-body ul,
.modal-body p,
.seccion ul,
.seccion p {
    text-align: justify;
}

td .descripcion {
    color: black !important;
}

.italic {
    font-style: italic;
}

.content-wrapper {
    background-color: var(--bg5);
}

.text-principal {
    color: var(--bg3) !important;
}

.text-secundario {
    color: var(--bg6) !important;
}

.text-secundario2 {
    color: var(--bg7) !important;
}

.alert-danger,
.bg-danger {
    background-color: var(--bgDanger) !important;
}
.bg-danger2 {
    background-color: var(--bgDanger2);
}
.bg-azul-claro {
    background-color: var(--bgAzulClaro);
    transition: all 0.3s;
}

.bg-yellow {
    background-color: var(--bgYellow);
}

.text-yellow {
    color: var(--bgYellow);
}

.bg-color1 {
    background-color: var(--bg1);
    color: var(--bgDarkPrincipal) !important;
}

.bg-color1:hover {
    background-color: var(--bg2);
    color: white !important;
}

.bg-azul-claro:hover {
    color: black;
    background-color: var(--bgAzulClaroH);
}

.text-principal:hover {
    color: var(--bg3);
}

.dropdown-menu {
    background-color: var(--bg7);
    padding: 10px 15px;
}

.content-wrapper h1,
.content-wrapper h2,
.content-wrapper h3,
.content-wrapper h4,
.content-wrapper h5 {
    color: var(--bg3);
}

.content-wrapper .descripcion {
    color: white;
}

.content-header .breadcrumb {
    padding: 5px !important;
    background-color: var(--bg3) !important;
}
.content-wrapper .breadcrumb {
    padding: 5px;
    background-color: var(--bg3) !important;
}

.content-wrapper .breadcrumb li.breadcrumb-item a {
    color: white;
}

.content-wrapper .breadcrumb li.active a,
.content-wrapper .breadcrumb li.active {
    font-weight: bold;
    color: white;
}

.content-wrapper .breadcrumb li {
    color: white;
}

.loading {
    z-index: -1;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg3t);
    transition: 0.3s;
    opacity: 0;
    color: white;
    height: 100vh;
    width: 100vw;
}

.loading.show {
    opacity: 1;
    z-index: 9999;
}

label.required::after {
    font-family: "Epunda_Slab";
    font-weight: 400;
    content: " (*)";
    color: red;
}

/* MODAL */
.modal-open .modal.show {
    background-color: rgba(0, 0, 0, 0.7);
}

/* Fondo semitransparente */
.modal-open .modal.show {
    background-color: rgba(0, 0, 0, 0.7);
}

/* Estado inicial (oculto) */
.modal.fade .modal-dialog {
    transform: scale(0.8);
    opacity: 0;
    transition: all 0.3s ease-out;
}

/* Estado final (visible) */
.modal.fade.show .modal-dialog {
    transform: scale(1);
    opacity: 1;
}

/* SIDEBAR */
body .main-sidebar {
    position: fixed;
    background-color: var(--bgDarkGray);
    font-size: 0.8em;
}

body .main-sidebar {
    max-height: 100vh !important;
    overflow: hidden;
}

@media (max-width: 965px) {
    body .main-sidebar .sidebar {
        max-height: calc(100vh - 150px) !important;
        overflow: auto;
    }
}

body .sidebar-dark-success .nav-sidebar > .nav-item > .nav-link.active,
body .sidebar-light-success .nav-sidebar > .nav-item > .nav-link.active {
    border-radius: 0;
    background-color: var(--bg2);
    color: white;
    width: 100%;
}

body .sidebar-dark-success .nav-sidebar > .nav-item > .nav-link {
    width: 100%;
}

/* SUB MENU */

body .nav-sidebar .nav-item > .nav-link.sub-menu.menu-is-opening .right {
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

body .nav-treeview > .nav-item > .nav-link {
    width: 100%;
    border-radius: 0;
}

body .nav-treeview > .nav-item > .nav-link.active,
body .nav-treeview > .nav-item > .nav-link.active:focus,
body .nav-treeview > .nav-item > .nav-link.active:hover {
    background-color: var(--bgWhite2) !important;
    font-weight: bold;
}

body .nav-sidebar .nav-treeview {
    height: 0;
    display: block;
    overflow: hidden;
    transition: all 0.3s ease-out;
}

.dropdown-menu {
    background-color: var(--bg6) !important;
}
@media (max-width: 1366px) {
    #navbarSupportedContent .nav-link,
    #navbarSupportedContent .dropdown-item {
        font-size: 0.7em;
    }
}

/* MI TABLE */
.mi-table {
    font-size: 0.75rem;
}

body table.table tbody tr .accion .btn.accion_icon {
    width: 40px;
    margin: 1px;
}

body table.table tbody tr td {
    vertical-align: middle;
}

body .mi-table thead.bg__primary tr th {
    color: white;
    background-color: var(--bg2);
}

body .mi-table .mi-content-header table.tablaFixeada td,
body .mi-table .content-table table.tablaFixeada td,
body .mi-table .mi-content-header table.tablaFixeada th {
    border: none;
    border-bottom: solid 1px var(--bgWhite2);
}

body .table-bordered td,
.table-bordered th {
    border: none;
    border-bottom: 1px solid var(--bgWhite2);
}

body .mi-table .content-table tr:hover .fixed-column .mi-celda,
body .mi-table .content-table tr:hover .fixed-column-right .mi-celda,
body .mi-table .content-table tr:hover .fixed-column,
body .mi-table .content-table tbody tr:hover td {
    background-color: var(--bgGrayLight);
}

body .mi-table table thead tr th .iheader .accion {
    color: white;
}

body .mi-table table thead tr th .iheader .accion.active {
    color: white;
}

#contentAdmin h2,
#contentAdmin h3,
#contentAdmin h4,
#contentAdmin .font-weight-bold,
#contentAdmin b {
    color: var(--bgDarkPrincipal);
    font-weight: bold;
}

/* CONTENT ESTUDIANTE */
body.fixedContentEstudiante.modal-open .modal.show .modal-dialog {
    margin-top: 80px;
}

body.fixedContentEstudiante.modal-open
    .modal.show
    .modal-dialog
    .modal-body.info_postulante {
    height: 68vh;
}

/* ARCHIVOS INSCRIPCIÓN /REQUISITOS */
.contenedorFile {
    margin-top: 10px;
    width: 100%;
    border: solid 2px;
    border-radius: 7px;
    cursor: pointer;
    background-color: white;
}
.contenedorFile.cargado {
    border-color: var(--bgSuccess);
}

.contenedorFile.cargado i,
.contenedorFile.cargado .contInfo {
    color: var(--bgSuccess);
}

.contenedorFile.sinCargar {
    border-color: var(--bgDanger);
}

.contenedorFile.sinCargar i,
.contenedorFile.sinCargar .contInfo {
    color: var(--bgDanger);
}

.contenedorFile .contInfo .descripcion {
    color: var(--bgGray);
}

.contenedorFile .principal {
    display: flex;
    flex-direction: row;
}

.contenedorFile .principal .icon {
    font-size: 1.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px 5px;
}

.contenedorFile .contInfo {
    cursor: pointer;
    font-size: 0.8rem;
    display: flex;
    flex-direction: column;
    width: calc(100% - 64px);
}

.contenedorFile .contInfo .title,
.contenedorFile .contInfo .descripcion {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.contenedorFile input[type="file"] {
    display: none;
}
