@import "./variables.css";

html {
    font-family: "Montserrat", sans-serif !important;
    scroll-behavior: smooth;
}
body {
    font-family: "Montserrat", sans-serif !important;
}

.text-black {
    color: black !important;
}

.text-bg1 {
    color: var(--bg1) !important;
}
