@import "./variables.css";

/* MI SUB MENU PORTAL */
.navbar-nav .dropdown-menu {
    padding: 0px;
    max-height: 80vh;
    overflow-y: auto;
    background-color: var(--bg7);
}

.navbar-nav .nav-link,
.navbar-nav .dropdown-item,
.navbar-nav .nav-item {
    font-weight: 600;
    font-size: 0.95em;
}

.navbar-nav .nav-link:hover {
    color: var(--bgDarkPrincipal);
}

.navbar-nav .dropdown-menu.miSubmenu .nav-item.dropdown {
    width: 100%;
}
.navbar-nav .dropdown-menu a::after {
    border: none;
}

.navbar-nav .dropdown-menu a {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 10px 15px;
    border-bottom: solid 1px white;
}

.navbar-nav .dropdown-menu a:focus,
.navbar-nav .dropdown-menu a:target,
.navbar-nav .dropdown-menu a:active {
    background-color: transparent;
}

.navbar-nav .dropdown-menu .dropdown-menu.miSubmenu.show {
    background-color: var(--bg7);
    max-width: 80vw;
    border-radius: 0px;
    min-width: 90%;
    width: 96%;
    margin: 0px 5px;
    position: relative;
}
.navbar-nav .dropdown-menu .dropdown-menu.miSubmenu.show .dropdown-item {
    transition: transform 0.4s ease, box-shadow 0.4s ease;
}

.navbar-nav .dropdown-menu .dropdown-menu.miSubmenu.show .dropdown-item:hover {
    background-color: transparent;
}

.navbar-nav .dropdown-menu.miSubmenu a {
    text-wrap: wrap;
}
.navbar-nav .dropdown-menu.miSubmenu .dropdown-menu {
    max-width: 100%;
}

.navbar-nav .dropdown-menu.miSubmenu .nav-item.dropdown p {
    height: 100%;
    margin: 0;
    flex: 1;
    width: calc(100% - 20px);
}

/* MI SUB MENU PORTAL */
.navbar-nav .dropdown-menu {
    padding: 0px;
    max-height: 80vh;
    overflow-y: auto;
}

.navbar-nav .dropdown-menu.miSubmenu .nav-item.dropdown {
    width: 100%;
}
.navbar-nav .dropdown-menu a::after {
    border: none;
}

.navbar-nav .dropdown-menu a {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 10px 15px;
    border-bottom: solid 1px white;
}

.navbar-nav .dropdown-menu a:focus,
.navbar-nav .dropdown-menu a:target,
.navbar-nav .dropdown-menu a:active {
    background-color: transparent;
}

.navbar-nav .dropdown-menu .dropdown-menu.miSubmenu.show {
    background-color: var(--bg7);
    max-width: 80vw;
    border-radius: 0px;
    min-width: 90%;
    width: 96%;
    margin: 0px 5px;
    position: relative;
}
.navbar-nav .dropdown-menu .dropdown-menu.miSubmenu.show .dropdown-item {
    transition: transform 0.4s ease, box-shadow 0.4s ease;
}

.navbar-nav .dropdown-menu .dropdown-menu.miSubmenu.show .dropdown-item:hover {
    background-color: transparent;
}

.navbar-nav .dropdown-menu.miSubmenu a {
    text-wrap: wrap;
}
.navbar-nav .dropdown-menu.miSubmenu .dropdown-menu {
    max-width: 100%;
}

.navbar-nav .dropdown-menu.miSubmenu .nav-item.dropdown p {
    height: 100%;
    margin: 0;
    flex: 1;
    width: calc(100% - 20px);
}

/* PORTAL */
h2,
h3,
h4,
.font-weight-bold,
b {
    color: var(--bgWhite2);
    font-weight: bold;
}
body {
    background-color: var(--bgDarkPrincipal);
    font-size: 13pt;
}

.titulo-seccion {
    text-align: center;
    font-size: 2.1em;
    color: var(--bg3);
    font-style: italic;
    font-weight: bold;
    z-index: 5;
}

.subtitulo-seccion {
    font-weight: 600;
    font-size: 1.3em;
}
.contenedor_secciones table,
.contenedor_secciones table thead tr th,
.contenedor_secciones table tbody tr td,
.contenedor_secciones p,
.contenedor_secciones ul,
.contenedor_secciones li,
.contenedor_secciones {
    color: white;
}

.contenedor_secciones .seccion {
    min-height: 63vh;
}

.contenedor_secciones .seccion:nth-child(odd) .info_seccion {
    border-bottom: double 4px var(--bg6);
    color: white;
}

.contenedor_secciones .seccion:nth-child(odd)::after {
    content: "";
    background-image: url("/imgs/F41 COD 001.jpg");
    inset: 0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(10px) brightness(0.6); /* efecto difuminado y oscurecido */
}

.contenedor_secciones .seccion:nth-child(odd)::before {
    content: "";
    background-color: #121409f5;
    inset: 0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.contenedor_secciones .seccion:nth-child(even) {
    position: relative;
    /* background-color: var(--bgDarkGrayP); */
    color: white;
}

.contenedor_secciones .seccion:nth-child(odd) .titulo-seccion,
.contenedor_secciones .seccion:nth-child(odd) .info_seccion,
.contenedor_secciones .seccion:nth-child(even) .titulo-seccion,
.contenedor_secciones .seccion:nth-child(even) .info_seccion {
    position: relative;
    z-index: 10;
}
.contenedor_secciones .seccion:nth-child(even)::after {
    content: "";
    background-image: url("/imgs/F41 COD 001.jpg");
    inset: 0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(20px) brightness(0.6); /* efecto difuminado y oscurecido */
}

.contenedor_secciones .seccion:nth-child(even)::before {
    content: "";
    background-color: rgba(8, 8, 8, 0.884);
    inset: 0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.contenedor_secciones .seccion:nth-child(even) .info_seccion {
    border-bottom: double 4px var(--bg6);
}
.contenedor_secciones .seccion .info_seccion img {
    border-radius: 10px;
    margin: auto;
    max-height: 500px;
    transition: all 0.5s;
}

.contenedor_secciones .seccion .info_seccion video {
    max-width: 100%;
}
.contenedor_secciones .seccion .info_seccion img:hover {
    transform: scale(1.01);
}

.contenedor_secciones .seccion:nth-child(odd) .font-weight-bold,
.contenedor_secciones .seccion:nth-child(odd) b,
.contenedor_secciones .seccion:nth-child(odd) .subtitulo-seccion,
.contenedor_secciones .seccion:nth-child(odd) .titulo-seccion {
    color: var(--bg1);
    font-weight: bold;
}

.contenedor_secciones .seccion:nth-child(even) .font-weight-bold,
.contenedor_secciones .seccion:nth-child(even) b,
.contenedor_secciones .seccion:nth-child(even) .subtitulo-seccion,
.contenedor_secciones .seccion:nth-child(even) .titulo-seccion {
    color: var(--bg7);
    font-weight: bold;
}

.contenedor_secciones .seccion:nth-child(odd) p {
    color: var(--bgWhite2);
}

.contenedor_secciones .seccion:nth-child(odd) .titulo-seccion {
    padding-left: 10px;
    color: var(--bg7);
}

.contenedor_secciones .titulo-seccion::after,
.contenedor_secciones .titulo-seccion::before {
    content: "";
    width: 120px;
    height: 3px;
    display: inline-block;
    margin: 12px 10px;
}

.contenedor_secciones .seccion:nth-child(odd) .titulo-seccion::after {
    background: var(--bg7);
}

.contenedor_secciones .seccion:nth-child(odd) .titulo-seccion::before {
    background: var(--bg7);
}

.contenedor_secciones .seccion:nth-child(even) .titulo-seccion::after {
    background: var(--bg7);
}

.contenedor_secciones .seccion:nth-child(even) .titulo-seccion::before {
    background: var(--bg7);
}

@media (max-width: 965px) {
    .titulo-seccion {
        font-size: 1.3em;
    }
    .subtitulo-seccion {
        font-size: 1.1em !important;
    }
    .contenedor_secciones .seccion .titulo-seccion::after,
    .contenedor_secciones .seccion .titulo-seccion::before {
        width: 19px !important;
        margin: 7px 10px !important;
    }
}

.contenedor_secciones .seccion i {
    margin-right: 3px;
}

img.img_png,
.contenedor_secciones .seccion .info_seccion img.img_png {
    box-shadow: none;
    border: none;
}

.img_hover {
    transition: all 0.3s;
}

.img_hover:hover {
    transform: scale(1.05);
}

.contenedor_secciones .col-12 {
    padding: 10px;
}

.contenedor_secciones img {
    max-width: 100%;
    object-fit: cover;
}

/* SECCIONES PORTAL */
.img_admicion {
    height: 50px;
}

@media (min-width: 900px) {
    .img_admicion {
        height: 100px;
    }
    .contenido .imgs img {
        width: 140px;
    }

    .tituloAdmicion {
        width: 620px;
    }
}

/* ARCHIVOS INSCRIPCIÓN /REQUISITOS */
.contenedorFile {
    margin-top: 10px;
    width: 100%;
    border: solid 2px;
    border-radius: 7px;
    cursor: pointer;
    background-color: white;
}
.contenedorFile.cargado {
    border-color: var(--bgSuccess);
}

.contenedorFile.cargado i,
.contenedorFile.cargado .contInfo {
    color: var(--bgSuccess);
}

.contenedorFile.sinCargar {
    border-color: var(--bgDanger);
}

.contenedorFile.sinCargar i,
.contenedorFile.sinCargar .contInfo {
    color: var(--bgDanger);
}

.contenedorFile .contInfo .descripcion {
    color: var(--bgGray);
}

.contenedorFile .principal {
    display: flex;
    flex-direction: row;
}

.contenedorFile .principal .icon {
    font-size: 1.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px 5px;
}

.contenedorFile .contInfo {
    cursor: pointer;
    font-size: 0.8rem;
    display: flex;
    flex-direction: column;
    width: calc(100% - 64px);
}

.contenedorFile .contInfo .title,
.contenedorFile .contInfo .descripcion {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.contenedorFile input[type="file"] {
    display: none;
}

/* PORTAL */
.carusel {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
}

.carusel::before {
    content: "";
    z-index: -1;
    position: absolute;
    inset: 0;
    background: inherit; /* usa la misma imagen de fondo */
    background-repeat: no-repeat;
    filter: blur(20px) brightness(0.6); /* efecto difuminado y oscurecido */
    transform: scale(1.2); /* expande un poco para cubrir bordes */
    z-index: 0;
}

.carusel img,
.carusel video {
    z-index: 1000;
    position: relative;
    z-index: 1;
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
    display: block;
    margin: 0 auto;
}

.bg-carusel {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.contenido {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    flex-direction: column;
}

.contenido .imgs {
    display: flex;
    gap: 20px;
}

.btn-iniciar-sesion {
    margin-top: 20px;
}

.contenido .imgs a {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    font-weight: 700;
    transition: 0.3s;
}

.contenido .imgs a:hover {
    transform: scale(1.09);
}

.contenido .imgs img {
    height: 75px;
}

.tituloAdmicion {
    width: 400px;
    text-align: center;
    margin-top: 10px;
}

@media (min-width: 900px) {
    .contenido .imgs img {
        height: 140px;
    }

    .tituloAdmicion {
        width: 620px;
    }
}

/* CARUSEL UNICO */
.carusel-unico {
    position: relative;
    width: 100%;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.carusel-unico.seccion .item,
.carusel-unico.seccion {
    min-height: calc(100vh - 200px);
    height: calc(100vh - 200px);
}

.carusel-unico .item {
    position: relative;
    background-color: var(--bg3);
    height: 100vh;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.carusel-unico .item::before {
    content: "";
    position: absolute;
    inset: 0;
    background: inherit; /* usa la misma imagen de fondo */
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(20px) brightness(0.6); /* efecto difuminado y oscurecido */
    transform: scale(1.3); /* expande un poco para cubrir bordes */
    z-index: 0;
}
.carusel-unico .item video {
    position: relative;
    z-index: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.carusel-unico .contenido .imgs {
    flex-direction: column;
}
@media (min-width: 900px) {
    .carusel-unico .item video {
        width: 100.77777778vh;
        min-height: 56.25vw;
        min-width: 100%;
    }
    .carusel-unico .contenido .imgs {
        flex-direction: row;
    }
}

/* SECCIONES - ANAPOL,ETC */
.img-seccion {
    width: 140px;
    filter: drop-shadow(5px 5px 10px rgba(255, 255, 255, 0.5));
}

.text-seccion {
    color: white;
    font-weight: bold;
    font-size: 0.8rem;
}

.text-seccion {
    color: white;
    font-weight: bold;
    font-size: 1rem;
}

.carusel {
    width: 100%;
    height: 100%;
}

.btn-volver-principal {
    position: absolute;
    bottom: 20px;
    right: 20px;
}

.carusel img {
    object-fit: cover;
}

.carusel video {
    height: 100%;
}
.bg-carusel {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    width: 101%;
    height: 100%;
}

.bg-white {
    background-color: white !important;
}

.contenido {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    flex-direction: column;
}

.contenido .imgs {
    display: flex;
    gap: 20px;
}

.btn-iniciar-sesion {
    margin-top: 20px;
}

.contenido .imgs a {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    font-weight: 700;
}

.contenido .imgs img {
    height: 120px;
}

.tituloAdmicion {
    width: 400px;
    text-align: center;
    margin-top: 10px;
}

@media (min-width: 900px) {
    .text-seccion {
        color: white;
        font-weight: bold;
        font-size: 1.5rem;
    }

    .carusel video {
        height: 100%;
        width: 177.77777778vh; /* 100 * 16 / 9 */
        min-width: 100%;
        min-height: 56.25vw; /* 100 * 9 / 16 */
    }
}

.navbar {
    transition: all 0.3s ease; /* animación suave */
}

#btnUp {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1050;
    transition: opacity 0.3s ease;
}

/* FOOTER PAGINAS */
.footer-paginas {
    border-top: solid 1px var(--bg5);
    background-color: var(--bgDarkPrincipal);
}
.footer_video {
    margin-top: 2px;
    width: 35%;
}
@media (max-width: 767px) {
    .footer_video {
        width: 100%;
    }
}

.footer-paginas .redes_sociales {
    text-align: center;
}
.footer-paginas .redes_sociales a {
    color: white;
    margin: 10px;
    font-size: 2em;
}

.footer-paginas .redes_sociales a i {
    transition: 0.3s;
}

.footer-paginas .redes_sociales a:hover i {
    transform: scale(1.1);
}

#app > .container-fluid.pagina {
    min-height: 83.01vh;
}

.w-33 {
    width: 33.3333%;
    object-fit: cover;
}

.img-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: flex-start; /* o center si quieres centrar la galería */
}

.img-grid img {
    flex: 0 0 24%; /* ocupa 24% cada imagen (4 por fila) */
    max-width: 24%;
    height: auto;
    object-fit: cover;
}
